<div class="container" style="height: 100%; display: flex; flex-direction: column;">
    <div class="nav-bar">
        <img src="../../assets/PoseBuddy_Symbol.svg" alt="logo" style="width: 40px">
        <img src="../../assets/PoseBuddy_Logo.svg" alt="logo" style="width: 150px; align-self: center; margin-left: 2rem;">
    </div>
    <div class="page">
        <div class="small">
            Find your
        </div>
        <div class="title">
            POSE <br> <span class="yellow">BUDDY</span>
        </div>
    </div>
    <hr>
    <div class="footer">
        <img src="../../assets/Openglam.svg" alt="logo" style="width: 60px">
        <img src="../../assets/CC_Logo.svg" alt="logo" style="width: 80px">
        <img src="../../assets/Supsi.svg" alt="logo" style="width: 80px">
        <img src="../../assets/kmb.svg" alt="logo" style="width: 80px">
    </div>
</div>